.inter-sans {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
    background-color: rgba(26, 11, 46, 1);
    color: white;
    max-width: 1600px;
    margin: 0 auto;
}
.navbar {
  height: 92px;                  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 200px; 
  /* color: white;
  background:rgba(26, 11, 46, 1); */
} 
.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
} 
  .color-info{
    background:linear-gradient( 45deg ,#F7E93F,#FB09B4,#9100F8);
      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 } 
 .btn {
  border-radius: 10000px;
  background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
  color: #ffffff;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  display:  inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
 }
 .menu-icon{
  display: none;
 }
  
  #banner {
    background: url(./assets/hero-bg.png) no-repeat;
    background-size: cover;
}

 .banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
    
}

#banner .banner-container .image {
    background: url(./assets/hero-circle.png) no-repeat center;
    display: flex;
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
    position: relative;
}

#banner .banner-container .image .new {
    padding: 8px 16px;
    background: #00FF88;
    color: black;
    border-radius: 1000px;
    font-size: 15px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    position: absolute;
    top: 12px;
    right: 23px;
}

#banner .banner-container h3 {
    color: #fff;
    font-size: 60px;
    margin: 40px 0 0 0;
}

#banner .banner-container p {
    color: #fff;
    margin: 8px 0 24px 0;
    padding: 0 20px;
} 
.btn-3 {
  background-position: center;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    padding: 12px 20px;
    background: transparent;
    color: #00FF88;
    cursor: pointer;
    transition: transform 2.0s ease;
}
.btn-3:active {
    transform: scale(1.5);
}
.section-container {
    max-width: 1200px;
    margin: 0 auto;
    text-transform: capitalize;
}

.section-top {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 80px;
}
.section-heading{
    color: white;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}
.section-title {
    margin-bottom: 16px;
}

.about-section-bottom {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
    margin-bottom: 120px;

}

.card-title {
    color: #00FF88;
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 15px;
}
.card-description{
    font-size: 16px;
    line-height: 1.7;
    opacity: 0.8;
}
#techwave {
    background: #230E3D;
}

#techwave h2 {
    text-align: center;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    padding: 120px 20px 40px 20px;
}

#techwave .techwave-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 82%;
    max-width: 1200px;
    margin: auto;
    gap: 30px;
    color: #fff;
    padding-bottom: 120px;
}

#techwave .techwave-container .techwave-column {
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 40px;
    display: grid;
    gap: 16px;
}

#techwave .techwave-container .techwave-column p {
    text-align: left;
    opacity: 0.6;
}
#episodes {
    background: #1A0B2E;
}

#episodes .episodes-container {
    width: 82%;
    max-width: 1200px;
    margin: auto;
    padding: 120px 0;
}

#episodes .episodes-cards {
    display: flex;
    gap: 30px;
}

#episodes h2, h3, p {
    color: #fff;
}

#episodes .episodes-cards .card .card-contener {
    background: #250D44;
    padding: 24px;
    border-radius: 0 0 40px 40px;
}

#episodes .episodes-cards .card .card-contener p {
    margin: 24px 0;
    text-align: left;
}

#episodes .episodes-cards .card iframe {
    border: none;
    display: block;
    border-radius: 40px 40px 0 0;
}
#meet {
    background: #1A0B2E;
    padding-top: 80px;

}

.meet-container {
    width: 82%;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 120px;
}

.meet-container .host-container {
    display: flex;
    justify-content: space-between;
    background: rgba(83, 60, 114, 0.2);
    padding: 50px;
    align-items: center;
    gap: 30px;
    color: #fff;
    margin-top: 40px;
    border-radius: 40px;
}

.meet-container .host-container .socials {
    display: flex;
    gap: 30px;
}

.meet-container .host-container p {
    margin: 16px 0;
    text-align: left;
}

.meet-container .host-container .socials .icons {
    border: 1px solid #533C72;
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    

}
footer {
    background: url(./assets/footer-bg.png);
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 120px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer h1,p {
    text-align: center;
    margin-top: 20px;
}
 .footer-container {
    width: 82%;
    height: 100%;
    max-width: 1200px;
    text-align: center;
    justify-content: center;
    margin: auto;
}
 .logo-links {
    display: flex;
    gap: 40px;
    margin: auto;
    justify-content:center;
    margin: 32px 0;
}

  .spotify{
    display: flex;
    align-items: center;
    gap: 8px;
}

 .footer-container  h1 span {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}